<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %> 
<body>
    <%- include('./partials/navigation') %> 
    <div class="row">
      <div class="col s1"></div>
      <div class="col s10" style="text-align: center;">
        <h5><%= drink.drinks[0].strDrink %> </h5>
        <img src=<%= drink.drinks[0].strDrinkThumb %> > 
      </div>
    </div>
    <div class="container">
        <h3>Contact Us</h3>
        <p>E. Jacinto Street</p>
        <p>Davao City</p>
        <p>Philippines</p>
        <b>We would like love to hear from you, message us! By filling the form below:</b>
        <div class="row">
            <div class="input-field col s12">
              <input id="password" type="text" class="validate">
              <label for="password">Fullname</label>
            </div>
            <div class="input-field col s12">
              <input id="password" type="text" class="validate">
              <label for="password">Email</label>
            </div>
            <div class="input-field col s12">
              <input id="password" type="text" class="validate">
              <label for="password">Message</label>
            </div>
        </div>
        <div class="right-align">
            <button class="btn waves-effect waves-light indigo" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>

    <%- include('./partials/footer') %> 
</body>

</html>