<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %> 
<body>
    <%- include('./partials/navigation') %> 
    <div class="container">
        <h3> 
            <%= studentData[0].fname; %> 
        </h3>
        <% for(student of studentData){ %>
            <p>
                <%= student.fname %> 
                <%= student.age %> 
                <%= student.course %> 
            </p>
        <% } %> 
    </div>
    <%- include('./partials/footer') %> 
</body>

</html>