<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %> 
<body>
    <%- include('./partials/navigation') %> 
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
        <script>
            var val = localStorage.getItem("countryImg") 
            document.write(`<div class="col s3"></div><div class="col s3"><img src="${val}" height="128px" width="128px" style="padding-top: 25px" id="countryImg"></div>`)
            var nat = localStorage.getItem("nationality")
            var datetime = ""
            if (nat == "Singaporean") {
                datetime = '<%= dataList[0]["datetime"] %>'
            } else if (nat == "Canadian") {
                datetime = '<%= dataList[1]["datetime"] %>'
            } else if (nat == "Swedish") {
                datetime = '<%= dataList[2]["datetime"] %>'
            } else if (nat == "French") {
                datetime = '<%= dataList[3]["datetime"] %>'
            }
            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"]
            var month = months[datetime.slice(6,7)-1]
            var day = datetime.slice(8,10)
            var year = datetime.slice(0,4)
            var hour = parseInt(datetime.slice(11,13))
            var minuteSecond = datetime.slice(13,19)
            var dayNight = "AM";
            document.write(`<div class="col s4"><h3>${month} ${day}, ${year}</h3>`)
            if (hour > 12 && hour < 24) {
                dayNight = "PM"
            }
            if (hour > 12) {
                hour = hour - 12
            }
            document.write(`<h4>${hour}`)
            document.write(`${minuteSecond} ${dayNight}</h4></div>`)
        </script>
        </div>
        <div id="result"></div>
        <div class="row">
            <div class="col s12"></div>
            <div class="col s12"></div>
            <div class="col s12">
                <table class="striped" style="font-family: 'Times New Roman', Times, serif;">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th style="text-align:end; font-weight: normal;"><a class="waves-effect waves-light btn" style="background-color: #0001f3;" href="personnew">new</a></th>
                        </tr>
                        <tr class="000000 black" style="color: white;">
                            <th style="text-align:center;">#</th>
                            <th style="text-align:center;">Person Name</th>
                            <th style="text-align:center;">Birthdate</th>
                            <th style="text-align:center;">Nationality</th>
                            <th style="text-align:center;">Actions</th>
                        </tr>
                    </thead>

                    <tbody>

                        <% counter = 1 %>
                        <% if (persons.length > 0) { %> 
                            <% persons.forEach(person => { %>
                                <tr>
                                    <td style="text-align:center;"><%= counter %></td>
                                    <td style="text-align:center;"><%= person.fullname %></td>
                                    <td style="text-align:center;"><%= person.birthdate %></td>
                                    <td style="text-align:center;"><%= person.nationality %></td>
                                    <% counter++ %>
                                    <td style="text-align:center;"><a href="/personlist/<%= person._id %>">View</a></td>
                                </tr>
                            <% })  %> 
                        <% } else { %>
                            <tr>No Records</tr>
                        <% } %> 

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %> 
    <script>
        // function renderTime() {
        //     localStorage.setItem("countryImg", document.getElementById("countryImg").src)
        // }
    </script>
</body>

</html>